<!DOCTYPE HTML>
<html>
<head>
    <title>上证指数(000001)首页概览_指数行情_同花顺金融网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7;IE=9"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="上证指数(000001)指数点评,上证指数(000001)指数查询,上证指数(000001)指数行情,上证指数(000001)指数资讯,上证指数(000001)指数数据,上证指数(000001)指数实时行情">
    <meta name="description" content="提供上证指数(000001)实时行情数据；汇总上证指数(000001)基本资料及重大新闻、研究报告及行业资讯，为投资上证指数(000001)提供参考决策">
    <meta name="reboot" content="all">
    <link rel="stylesheet" href="http://s.thsi.cn/combo?css/stockpage/&new/common.20130220.css" type="text/css">
    <link rel="stylesheet" href="http://s.thsi.cn/combo?css/stockpage/&new/flot_home.20130204.min.css&new/home.20130220.css&new/KeyWizard.20130315.css!20130412" type="text/css">
    <link rel="stylesheet" href="http://s.thsi.cn/combo?css/navigation/nav_v2.min.css&css/stockpage/csi/add.min.20140928.css" type="text/css">
    <link rel="icon" href="http://stockpage.10jqka.com.cn/images/favicon.ico" mce_href="/images/favicon.ico" type="”image/x-icon”"></head>
<body>
<script type="text/javascript" src="//s.thsi.cn/js/chameleon/chameleon.min.1589277.js"></script> <script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">BAIDU_CLB_preloadSlots("967147","953199","950932","950924","950915","950914","950913","950907","950906","950905","950904","950898","950900","950902","950897");</script>
<!--增加广告 2014-07-23 Stella-->
<div class="ad01"><script type="text/javascript">BAIDU_CLB_fillSlot("950897");</script></div>
<!--增加广告 End-->
<link href=" http://s.thsi.cn/combo?/css/navigation/&nav.min.css&nav_blue.min.css!201207061406" rel="stylesheet" type="text/css" />

<!--增加广告 2014-07-23 Stella-->
<div class="ad02 clearfix">
    <ul>
        <li class="ad02-01"><script type="text/javascript">BAIDU_CLB_fillSlot("950898");</script></li>
        <li class="ad02-02"><script type="text/javascript">BAIDU_CLB_fillSlot("950900");</script></li>
        <li class="ad02-03"><script type="text/javascript">BAIDU_CLB_fillSlot("950902");</script></li>
    </ul>
</div>
<!--增加广告 End-->
<div class="header w960" id="hd">
    <div class="header_search">
        <div class="logo"><a href="http://www.10jqka.com.cn" class="site_logo"> <img height="29" width="115" alt="同花顺" title="同花顺" src="http://i.thsi.cn/images/stockpage/logo_ths_change.png" /></a> <a href="http://stockpage.10jqka.com.cn" class="sub_logo" title="实时行情">实时行情</a></div>
        <div class="search_box">
            <input autocomplete="off" type="text" value="输入股票/港股代码、简称或关键字" class="search_input" id="search_input" onfocus="(this.value=='输入股票/港股代码、简称或关键字')&&(this.value = '')" onblur="!(this.value) && (this.value='输入股票/港股代码、简称或关键字');" />
            <input type="submit" value="搜索" class="search_btn" />
        </div>
        <!--增加广告 2014-07-23 Stella-->
        <div class="ad03"><script type="text/javascript">BAIDU_CLB_fillSlot("950904");</script></div>
        <!--增加广告 End-->
    </div>
</div><div class="line"></div>
<div class="interface">
    <dl class="dl_first interface_0">
        <dt><a href="http://data.10jqka.com.cn/#refCountId=db_509381c1_860" target="_blank">数据中心</a></dt>
        <dd><a href="http://data.10jqka.com.cn/market/longhu/#refCountId=db_50741cb9_533,db_509381c1_860" target="_blank">龙虎榜</a></dd>
        <dd><a href="http://data.10jqka.com.cn/funds/ddzz/#refCountId=db_50741cd6_397,db_509381c1_860" target="_blank">大单追踪</a></dd>
        <dd><a href="http://data.10jqka.com.cn/funds/#refCountId=db_50741e4c_302,db_509381c1_860" target="_blank">资金流向</a></dd>
        <dd><a href="http://data.10jqka.com.cn/financial/yjyg/#refCountId=db_50741ea3_58,db_509381c1_860" target="_blank">业绩预告</a></dd>
        <dd><a href="http://data.10jqka.com.cn/ipo/xgsgyzq/#refCountId=db_50741b4e_792,db_509381c1_860" target="_blank">新股申购</a></dd>
    </dl>
    <dl class="interface_0">
        <dt><a href="http://q.10jqka.com.cn/#refCountId=db_509381c1_860" target="_blank">行情中心</a></dt>
        <dd><a href="http://q.10jqka.com.cn/#refCountId=db_5093800d_645,db_509381c1_860" target="_blank">沪深市场</a></dd>
        <dd><a href="http://q.10jqka.com.cn/hk/#refCountId=db_5093802b_16,db_509381c1_860" target="_blank">香港市场</a></dd>
        <dd><a href="http://q.10jqka.com.cn/usa/#refCountId=db_5093808e_362,db_509381c1_860" target="_blank">美国市场</a></dd>
        <dd><a href="http://q.10jqka.com.cn/global/#refCountId=db_509380b1_257,db_509381c1_860" target="_blank">全球市场</a></dd>
        <dd><a href="http://q.10jqka.com.cn/thshy/#refCountId=db_509380cb_979,db_509381c1_860" target="_blank">行业风云</a></dd>
    </dl>
    <!-- 全球市场开始 -->
    <dl class="interface_1">
        <dt>
            <a href="http://q.10jqka.com.cn/qqsc/#refCountId=db_509381c1_860" target="_blank">全球市场</a>
        </dt>
    </dl>
    <div class="sub_interface_1">
		<span class="options_btn">
			<a class="options_up" href="javascript:void(0);">向上</a>
			<a class="options_down" href="javascript:void(0);">向下</a>
		</span>
        <ul>
            <li><a class="c_fall" href="javascript:void(0);"><em>--</em></a></li>
            <li><a class="c_fall" href="javascript:void(0);"><em>--</em></a></li>
        </ul>
    </div>
</div>

<div class="m_header clearfix">
    <h1 class="m_logo fl" style="height:123px">
        <a href="/1A0001/">
            <strong>上证指数</strong>1A0001
        </a></br>
        <a href="javascript:void(0);" class="self_select zxg_1" taid="d_00001">加入自选股</a>
    </h1>
    <div class="new_detail fl">
        <iframe width="660" height="115" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="ifm" src="http://stockpage.10jqka.com.cn/realHead_v2.html#16_1A0001"></iframe>
        <!--增加广告 2014-07-23 Stella-->
        <div class="ad04 fr">
            <span><script type="text/javascript">BAIDU_CLB_fillSlot("950906");</script></span>
            <span><script type="text/javascript">BAIDU_CLB_fillSlot("950907");</script></span>
        </div>
        <!--增加广告 End-->
    </div>
</div><div class="m_content"><style>
.m_table_0 td,.m_table_0 th{padding:0 !important;white-space:nowrap;}
</style>
    <!-- 行情图左侧 -->
    <div class="m_cont_0">
        <ul class="m_title_0 m_title_1 tit">
            <li id="newsleft_selfstock" class="tab_current">
                <a href="javascript:void(0);" class="related_industry"> 我的自选股 </a>
            </li>
        </ul>
        <div class="sub_cont_0" style="border-top:1px solid #ddd;">
            <div stat="wdzxg" id="newsleft_selfstock_table" class="my_share stat"><a value="登录" class="user_login" style="text-align:center" href="http://upass.10jqka.com.cn/login?redir=HTTP_REFERER">登录</a></div>
            <!-- <div stat="wdzxg" id="newsleft_selfstock_table" class="my_share stat">
                <p class="login_tip">请登录同花顺</p>
                <form target="_self" action="https://upass.10jqka.com.cn/login" method="post" class="login_form">
                    <input type="hidden" name="act" value="login_submit"> <input type="hidden" name="redir" value="/002290/" id="redir_self">
                    <ul class="login_list">
                        <li><span class="fl">账户：</span> <input type="text" id="username" name="uname" class="login_user login_text fl"></li>
                        <li><span class="fl">密码：</span> <input type="password" id="password" name="passwd" class="login_psw login_text fl"></li>
                    </ul>
                    <input type="submit" value="登录" class="user_login">
                    <p class="extra">
                        <span class="register"><a target="_blank" href="http://i.10jqka.com.cn/register/index">新用户注册</a></span>
                        <span class="forget_psw"><a target="_blank" href="http://i.10jqka.com.cn/lostpass/index">忘记密码</a></span>
                    </p>
                </form>
            </div> -->
            <span stat="xgq" class="picking_device stat">
			<a target="_blank" href="http://data.10jqka.com.cn/souniu/">条件选股</a>
		</span>
            <span stat="zxg_gl" class="manage_stock stat">
			<a href="javascript:void(0);">管理自选股</a>
		</span>
        </div>
        <!--增加广告 2014-08-01 Stella-->
        <div class="ad05"><script type="text/javascript">BAIDU_CLB_fillSlot("950914");</script></div>
        <!--增加广告 End-->
    </div>
    <!-- 行情图 -->
    <div class="m_cont_2 fl" id="hqzs">
        <div class="main_cont_0">
            <!--增加广告 2014-07-23 Stella-->
            <span class="adxxdl ad_x1"><script type="text/javascript">BAIDU_CLB_fillSlot("950905");</script></span>
            <span class="adxxdl ad_x2"><script type="text/javascript">BAIDU_CLB_fillSlot("967147");</script></span>
            <!--增加广告 End-->
            <iframe src="../HQ.html#16_1A0001" width="580" height="584" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <!-- 行情图右侧 -->
    <div id="quote" class="m_cont_1">
        <ul class="news m_title_0 m_title_2 tit">
            <li id="newsright_stocknews" stat="news_company" style="width:100px;" class="tab_current stat">
                <a href="javascript:void(0)">成分股涨幅排行</a>
            </li>
        </ul>
        <div class="sub_cont_1 fl">
            <div id="index_stock">
                <script id="index_stock_tpl" type="text/html">
                    {{if list}}
                    <table class="m_table_6">
                        <thead><tr><th>股票名称</th><th>最新价</th><th>涨跌幅</th></tr></thead><tbody>
                    {{each list as value i}}
                    <tr{{if i%2 != 0}} class="even"{{/if}}>
                    <td><a target="_blank" href="/{{value.code}}/">{{value.name}}</a></td>
                    <td {{if value.zdf > 0}}class="upRed"{{else if value.zdf < 0}}class="downGreen"{{/if}}>{{value.price}}</td>
                    <td {{if value.zdf > 0}}class="upRed"{{else if value.zdf < 0}}class="downGreen"{{/if}}>{{value.zdf}}%</td>
                    </tr>
                    {{/each}}
                    </tbody></table>
                    {{else}}
                    暂无数据
                    {{/if}}
                </script>
            </div>
            <!--增加广告 2014-07-23 Stella-->
            <div class="ad09"><script type="text/javascript">BAIDU_CLB_fillSlot("950913");</script></div>
            <!--增加广告 End-->
        </div>
        <div class="sub_cont_3 fr tzzhd">
            <h2 class="m_title_4">指数排行</h2>
            <div class="aside_nav" id="index_csi">
                <script id="index_csi_tpl" type="text/html">
                    {{if data}}
                    <table><tbody>
                    {{each data as value i}}
                    <tr{{if i%2 != 0}} class="even"{{/if}}>
                    <td><a target="_blank" href="/{{value.code}}/">{{value.name}}</a></td>
                    <td {{if value.zdf > 0}}class="tarup"{{else if value.zdf < 0}}class="tardown"{{else}}class="tar"{{/if}}>{{value.price}}({{value.zdf}}%)</td>
                    </tr>
                    {{/each}}
                    {{else}}
                    暂无数据
                    {{/if}}
                </script>
            </div>
        </div>
    </div>
    <!-- 行情图以下部分数据 -->
    <div style="clear:both"></div>
    <div class="m_cont_4">
        <div id="" class="main_cont_1">
            <div class="sub_cont_5">
                <div class="m_title_4">
                    <h2 class="fl">实时解盘</h2>
                    <ul class="mt_list fr">
                        <li stat="finance_more" class="stat">
                            <a target="_blank" href="http://stock.10jqka.com.cn/jiepan_list/">更多&gt;</a>
                        </li>
                    </ul>
                </div>
                <ul stat="gsxw" class="news_list stat">
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620045432.shtml">在岸人民币兑美元收跌22点</a></span>
                        <span class="news_date"><em>05-12 16:34</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://yuanchuang.10jqka.com.cn/20200512/c620045050.shtml">涨停复盘：市场高标延续强势 次新板块掀涨停潮</a></span>
                        <span class="news_date"><em>05-12 16:26</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620044702.shtml">民航局发布《民航优化营商环境实施细则》</a></span>
                        <span class="news_date"><em>05-12 16:18</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/usstock/20200512/c620044602.shtml">港股收评：恒指收跌1.45% 石油股下跌医疗设备股大涨</a></span>
                        <span class="news_date"><em>05-12 16:09</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620044520.shtml">中国暂停澳大利亚4家牛肉商出口资格？外交部证实：已通报澳方主管部门</a></span>
                        <span class="news_date"><em>05-12 15:59</em></span>
                    </li>
                </ul>
            </div>
            <div class="sub_cont_6">
                <div class="m_title_4">
                    <h2 class="fl">要闻速递</h2>
                    <ul class="mt_list fr">
                        <li stat="finance_more" class="stat">
                            <a target="_blank" href="http://stock.10jqka.com.cn/gpgd_list/">更多&gt;</a>
                        </li>
                    </ul>
                </div>
                <ul stat="gsgg" class="news_list stat">
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620046994.shtml">华联综超：获得政府补助906.39万元</a></span>
                        <span class="news_date"><em>05-12 17:00</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620046993.shtml">中国应急：发行可转债 助力应急装备高质量发展</a></span>
                        <span class="news_date"><em>05-12 17:00</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://news.10jqka.com.cn/20200512/c620046758.shtml">德众股份挂牌精选层拟募资2.59亿元 主要用于汽车4S店扩展</a></span>
                        <span class="news_date"><em>05-12 16:58</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620046721.shtml">重磅！唐山港军事演习对当前钢价的实际影响（附分析）</a></span>
                        <span class="news_date"><em>05-12 16:57</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://news.10jqka.com.cn/20200512/c620046705.shtml">Cloudera：未来十年 企业数据云定义数据管理新模式</a></span>
                        <span class="news_date"><em>05-12 16:57</em></span>
                    </li>
                </ul>
            </div>
            <div style="clear:both"></div>
            <div id="xwgg" class="sub_cont_5">
                <div class="m_title_4">
                    <h2 class="fl">公司研究</h2>
                    <ul class="mt_list fr">
                        <li stat="finance_more" class="stat">
                            <a target="_blank" href="http://stock.10jqka.com.cn/gegudp_list/">更多&gt;</a>
                        </li>
                    </ul>
                </div>
                <ul stat="gsxw" class="news_list stat">
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620045699.shtml">片仔癀药业：“一核”主业压力倍增 “两翼”舒展尚需时日</a></span>
                        <span class="news_date"><em>05-12 16:39</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620045300.shtml">山西汾酒涨3.92%报111.30元 股价创年度新高</a></span>
                        <span class="news_date"><em>05-12 16:31</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620044453.shtml">中泰证券--格力电器：快手直播首秀 电商建设持续发力</a></span>
                        <span class="news_date"><em>05-12 15:52</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620040293.shtml">一季度长短视频齐发力 看腾讯如何打赢财报翻身仗</a></span>
                        <span class="news_date"><em>05-12 14:04</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620039877.shtml">“All in 快递”：解构德邦的未来</a></span>
                        <span class="news_date"><em>05-12 13:22</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620039797.shtml">南都电源一季度净利润同比下降 73.27%</a></span>
                        <span class="news_date"><em>05-12 13:15</em></span>
                    </li>
                </ul>
            </div>
            <div class="sub_cont_6">
                <div class="m_title_4">
                    <h2 class="fl">行业研究</h2>
                    <ul class="mt_list fr">
                        <li stat="finance_more" class="stat">
                            <a target="_blank" href="http://stock.10jqka.com.cn/bkfy_list/">更多&gt;</a>
                        </li>
                    </ul>
                </div>
                <ul stat="gsgg" class="news_list stat">
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620046673.shtml">2020年中国珠宝首饰上市公司利润规模排行榜（一季度）</a></span>
                        <span class="news_date"><em>05-12 16:56</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620046626.shtml">金属管公司排名</a></span>
                        <span class="news_date"><em>05-12 16:56</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620046379.shtml">长城国瑞证券--TMT行业周报2020年第11期(总第95期)：一季度云基础设施服务猛增37% 工信部发布2020年物联网首个重磅文件</a></span>
                        <span class="news_date"><em>05-12 16:52</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620045852.shtml">有色金属产业2020年运行态势展望</a></span>
                        <span class="news_date"><em>05-12 16:41</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620045571.shtml">国泰君安证券：寻找中国网络安全公司中的Palo Alto(PANW.US)</a></span>
                        <span class="news_date"><em>05-12 16:36</em></span>
                    </li>
                    <li>
                        <span class="news_title"><a target="_blank" href="http://stock.10jqka.com.cn/20200512/c620045517.shtml">安信证券：新能源车产销量回暖 充电设施提速在即</a></span>
                        <span class="news_date"><em>05-12 16:35</em></span>
                    </li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="m_cont_3">
        <!--增加广告 2014-07-23 Stella-->
        <div class="ad06"><script type="text/javascript">BAIDU_CLB_fillSlot("950915");</script></div>
        <!--增加广告 End-->
        <div stat="tjnr" class="sub_cont_3">
            <h2 class="m_title_4">推荐内容</h2>
            <ul class="aside_nav">
                <li class="mt_none">
				<span class="aside_nav_0">
					<a target="_blank" href="http://stock.10jqka.com.cn/zaopan/">早盘必读</a>
				</span>
                </li>
                <li class="mt_none">
				<span class="aside_nav_1">
					<a target="_blank" href="http://stock.10jqka.com.cn/fupan/">每日复牌</a>
				</span>
                </li>
                <li>
				<span class="aside_nav_2">
					<a target="_blank" href="http://stock.10jqka.com.cn/fincalendar.shtml">投资日历</a>
				</span>
                </li>
                <li>
				<span class="aside_nav_3">
					<a target="_blank" href="http://basic.10jqka.com.cn/interactive/">互动平台</a>
				</span>
                </li>
                <li>
				<span class="aside_nav_4">
					<a target="_blank" href="http://data.10jqka.com.cn/market/ggsd/">公告速递</a>
				</span>
                </li>
                <li>
				<span class="aside_nav_5">
					<a target="_blank" href="http://yuanchuang.10jqka.com.cn/qingbao/">机会情报</a>
				</span>
                </li>
                <li>
				<span class="aside_nav_6">
					<a target="_blank" href="http://doctor.10jqka.com.cn/">牛叉诊股</a>
				</span>
                </li>
                <li>
				<span class="aside_nav_7">
					<a target="_blank" href="http://data.10jqka.com.cn/market/longhu/">龙虎榜</a>
				</span>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>
    <!--增加广告 2014-07-23 Stella-->
    <div class="ad07"><script type="text/javascript">BAIDU_CLB_fillSlot("950917");</script></div>
    <!--增加广告 End-->
    <div class="m_cont_4">
        <div id="tbts" class="main_cont_1">
            <div class="f_box">
                <div stat="index_margin" id="margin" class="m_box">
                    <div class="ft"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="m_cont_3">
        <!--增加广告 2014-07-23 Stella-->
        <div class="ad08" style="height:600px;width:180px;"><script type="text/javascript">BAIDU_CLB_fillSlot("950924");</script></div>
        <!--增加广告 End-->
    </div></div>
<div id="dialgo_box" class="dialgo_box hidden">
    <h2 class="dialgo_pos">
        <span class="dialgo_closed"></span>
        您尚未登录，请登录后再添加自选股！
    </h2>
    <div stat="wdzxg" id="newsleft_selfstock_table" class="my_share stat"><a value="登录" class="user_login" style="text-align:center" href="http://upass.10jqka.com.cn/login?redir=HTTP_REFERER">登录</a></div>
    <!-- <form id="loginForm" method="post" action="https://upass.10jqka.com.cn/login">
        <input type="hidden" value="login_submit" name="act">
        <input id="redir" type="hidden" value="" name="redir">
        <div class="dialgo_main">
            <table width="290" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="50" height="30">
                            <span class="FC5">用户名：</span>
                        </td>
                        <td width="176">
                            <input type="text" tabindex="1" style="width:169px; height:20px;" name="uname">
                        </td>
                        <td>
                            <a class="FC5" target="_blank" href="http://www.10jqka.com.cn/modules.php?name=Register">快速注册</a>
                        </td>
                    </tr>
                    <tr>
                        <td height="30">
                            <span class="FC5">密  码：</span>
                        </td>
                        <td>
                            <input type="password" tabindex="2" name="passwd" style="width:169px; height:20px;">
                        </td>
                        <td>
                            <a class="FC11" target="_blank" href="http://i.10jqka.com.cn/lostpass/index">忘记密码?</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input class="dialgo_login" type="submit" tabindex="3" value="">
    </form> -->
</div><div id="footer">
    <p>
        <a href="http://news.10jqka.com.cn/tzz/" rel="nofollow">投资者关系</a><span class="ff">|</span>
        <a href="http://news.10jqka.com.cn/c/20100105/61833421.shtml" rel="nofollow">关于同花顺</a><span>|</span>
        <a href="http://download.10jqka.com.cn/">软件下载</a><span>|</span>
        <a href="http://www.10jqka.com.cn/ia/pass_buck.php" rel="nofollow">法律声明</a><span>|</span>
        <a href="http://www.10jqka.com.cn/hexin_license.htm" rel="nofollow">运营许可</a><span>|</span>
        <a href="http://www.10jqka.com.cn/modules.php?name=what&amp;page=cooperate" rel="nofollow">内容合作</a><span>|</span>
        <a href="http://www.10jqka.com.cn/hexin_contact.htm" rel="nofollow">联系我们</a><span>|</span>
        <a href="http://news.10jqka.com.cn/list/link.shtml" rel="nofollow">友情链接</a><span>|</span>
        <a href="http://news.10jqka.com.cn/msg/" rel="nofollow">网友意见箱</a><span>|</span>
        <a href="http://job.10jqka.com.cn/" rel="nofollow">招聘英才</a>
    </p>
    <p class="c333">Copyright&#169;Hithink RoyalFlush Information Network Co.,Ltd.</p>
    <p class="c333"> 浙江核新同花顺网络信息股份有限公司版权所有</p>
</div>
<!-- 2012-12-27 add -->
<!-- <div id="J_fixedbar" class="fixedbar">
	<ul class="clearfix">
		<li><a class="fixedbar_btn fixedbar_totop" href="#">顶部</a></li>
		<li><a class="fixedbar_btn fixedbar_feedback" target="_blank" href="http://vote.10jqka.com.cn/webvote/index.php?vid=7cce6a7e0f92e8adfefdacaaf269c415">反馈</a></li>
	</ul>
</div> --><!-- 全局变量 -->
<script>

document.domain="10jqka.com.cn";
var global_data = {};
var STOCK_SKIN = 'white';

global_data.code = '000001';
global_data.thscode = '1A0001';
global_data.codename = '上证指数';
global_data.cate = 'index';
global_data.catename = '首页概览';
global_data.hycode = '';
global_data.hyname = '';
</script>
<div style="display:none" id="pageStockCode">1A0001</div>
<div style="display:none" id="pageStockName">上证指数</div>
<div style="display:none" id="pageStockMarketName">上证指数</div>
<div style="display:none" id="pageStockMarketCode">1A0001</div>
<div style="display:none" id="pageStockMarketId">sz</div>
<div style="display:none" id="pageFieldCode"></div>
<div style="display:none" id="basicrating"></div>
<div style="display:none" id="indexdataflash"></div>
<div style="display:none" id="indexBasicData"></div>
<div style="display:none" id="stockbbsinfo"></div>
<!-- 公用脚本 -->
<script type="text/javascript" src="http://s.thsi.cn/combo?js/&excanvas.min.js&jquery-1.7.2.min.js&ta.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/opacity.ie6.min.js" ></script>
<script type="text/javascript">DD_belatedPNG.fix('.feedback');</script>
<![endif]-->
<script type="text/javascript" src="http://s.thsi.cn/combo?js/navigation/&jquery.bgiframe.min.js&jquery.ui.position.min.js&autocomplete-2.0.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/stockpage/&new/pagehead_v2.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/stockpage/new/public.20130314.min.js&js/stockpage/csi/&header_csi-20200411.js&menu.2016.js"></script>
<!-- 栏目专属脚本  -->
<script type="text/javascript" src="http://s.thsi.cn/js/basic/stock/jquery.flot.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/basic/stock/jquery.flot.tooltip.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/hk/template.min.20140701.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/hk/dynamicload.min.20140701.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/hk/drawEPSChart.min.20140701.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/csi/index_csi-20200411.js"></script>
<!-- 首页行情 -->
<script type="text/javascript" src="http://s.thsi.cn/combo?js/swfobject.js&js/seajs/&sea.1.2.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/flshhtml5/&s/Html5Util.min.js&c/config.min.js&c/GeGu_lsjxlx/caller.min.js&c/GeGu_sscjfb/caller.min.js&c/YjycHydb.js&c/GeGu_AreaLine/drawchart.min.js&c/GeGu_BarColors/drawchart.min.js&c/PieChart/caller.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/stockpage/&new/KeyWizardBranch.min.js&new/KeyWizard4AS.min.js"></script>
<!-- 统计ID -->
<script type="text/javascript">
	document.domain="10jqka.com.cn";
	var ta_sid = "sp_csi_index";
	var ta_fid = "29,info_gather,stockpage_csi";

	TA.log({'id':ta_sid,'fid':ta_fid,_top:false});

</script>
<!--右下角悬浮广告 2014-07-23 Stella-->
<!-- <div class="ad10">
    <div class="ad10-big J_adBig" style="display:none;z-index:11;">
    <div class="ad10-ad"><script type="text/javascript">BAIDU_CLB_fillSlot("950932");</script></div>
    <a href="##" class="ad10-close J_adClose"></a>
   </div>
   <div class="ad10-small" style="display:block;"><script type="text/javascript">BAIDU_CLB_fillSlot("953199");</script></div>
   <a class="ad10-small J_adSmall" style="display:block;" href="javascript:void(0);"></a>
</div> -->
<!--右下角悬浮广告 End-->
<!-- 挂旗广告 2014-07-29 start -->
<div class="ad_right none imgWrap" id="imgWrap"><a href="javascript:void(0)" onclick="javascript:hideTopAds()" target="_self" style="font-size:12px;">关闭</a><br/><a href="#" target="_blank" class="imgA"><img src="" class="imgBig"/><img src="" class="none imgSmall"/></a></div>
<div class="ad_left none imgWrap"><a href="javascript:void(0)" onclick="javascript:hideTopAds()" target="_self" style="font-size:12px;">关闭</a><br/><a href="#" target="_blank" class="imgA"><img src="" class="imgBig"/><img src="" class="none imgSmall"/></a></div>
<script src="http://ad.thsi.cn/siteHome/163.txt" type="text/javascript"></script>
<script src="http://s.thsi.cn/js/stockpage/sideAd3.20140901.js" type="text/javascript"></script>
<!-- 挂旗广告 2014-07-29 end -->
<!-- 百度统计 -->
<script type="text/javascript" src="http://s.thsi.cn/js/ads/baidu_stockpage.js"></script></body>


http://push2.eastmoney.com/api/qt/stock/get?secid=1.000001&ut=bd1d9ddb04089700cf9c27f6f7426281&fields=f43,f44,f45&invt=2&cb=jQuery112406728832128185271_1589278947531&_=1589278947573
</html>